# Project: Wrangling and Analyze Data

**Udacity Data Analyst 4th project**<br>
Hitoshi Kumagai

## Introduction

The dataset what I  wrangled (and analyzing and visualizing) is the tweet archive of Twitter user @dog_rates(https://twitter.com/dog_rates), also known as WeRateDogs. WeRateDogs is a Twitter account that rates people's dogs with a humorous comment about the dog. These ratings almost always have a denominator of 10. The numerators, though? Almost always greater than 10. 11/10, 12/10, 13/10, etc.Because "they're good dogs Brent." WeRateDogs has over 4 million followers and has received international media coverage.This project includes steps and detail is below.<br>
**Steps**
- Data wrangling:Gathering data, Assessing data then Cleaning data.
- Storing data, analyzing data and visulalizing data.

## Gathering Data

**df_archive**
>Since the data in CSV file format was provided, the data was used as a data frame for Pandas.The file name is twitter-archive-enhanced.csv

**df_image**
>The data in TSV file format was obtained from the url at the end of the sentence.The file name is image_predictions.tsv The retrieved data was used as a data frame for Pandas.

URL
>https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv

**df_json**
>Each tweet's retweet count and favorite ("like") count. Using the tweet IDs in the WeRateDogs Twitter archive, query the Twitter API for each tweet's JSON data using Python's Tweepy library and store each tweet's entire set of JSON data in a file called tweet_json.txt file. Each tweet's JSON data should be written to its own line. Then read this .txt file line by line into a pandas DataFrame with (at minimum) tweet ID, retweet count, and favorite count.

## Assessing Data

### Summary

#### Quality
##### df_archive
1. 5 column with Null value <br>
2. Float datatype is uesd in ID for 5column  <br>
3. Text column  Contains "&""amp;" in text column<br>
4. expanded_urls contains No image<br>
5. Name column dog name is not correct from "a", "the", etc.<br>
6. Name column dog name Missing value seems to be "None"<br>
7. rating_numerator has outlier from stocastic data and plot<br>
8. rating_denominator has outlier from stocastic data and plot<br>

##### df_image
1. Duplicated jpg_url.
2. In p1,p2,p3, unnecessary character strings are included in the character information (e.g. - _) <br>

##### df_json
1. Duplicated ID.

## Cleaning Data

### Quality issue

**df_archive**
1. Remove all columns with missing values.<br>
2. Drop 5 column having Null value.<br>
3. Delete & amp; from text column.<br>
4. Extract only columns that contain unique url.<br>
5. Replace incorrect dog name to NaN<.<br>
6. Replace the word None with NaN**<br>
7. Drop lines with more than 10 numbers in rating_numerator column.<br>
8. Drop lines with more than 10 numbers in rating_numerator column<br>
9. Drop duplicated jpg_url<br>

**df_image**
1. Delete "-" and "_"  from p1,p2,p3 column

**df_json**
1. Delete duplicated row in ID

### Tidiness issue
1. Merge the tables using the same information as keys in the three tables.
1. Consolidate four lines of information into one line